li a {
    padding: 10px;
    text-decoration: none;
    color: #26313F;
    border: black 1px solid;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    width: 121px;
    display: inline-block;
    text-align: center;
}

li{
    margin: 0 10px;
}
a:hover{
    background-color: #26313F;
    color: #F0F0F4;
}
ul {
    display: flex;
    justify-content: space-around;
    min-width: 40px;
    list-style-type: none;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}