section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: #26313F;
    font-size: 22px;
    font-weight: bold;
}

.title {
    color: #26313F;
    font-size: 42px;
    font-weight: bold;
    margin-top: 7px;
}

.content {
    text-align: justify;
    width: 600px;
    color: #686565;
    margin-top: 5px;
}
